body {
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
}
header, main, footer {
    width: 1366px;
    color: #FFFFFF;
    padding-left: 165px;
    padding-right: 165px;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}
.logo a {
    display: flex;
    padding-top: 51px;
    padding-bottom: 22px;
}
.logo-img {
        width: 53px; height: 47px;
        background: url('../img/logo.png') -10px -10px;
}
a:hover {
    color: #F26522;
}
.logo a:hover .logo-img {
        width: 53px; height: 47px;
        background: url('../img/logo.png') -83px -10px;
}
.contacts {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 17px;
}
.logo-text {
    font-weight: 700;
    font-size: 29px;
    line-height: 85%;
    padding-left: 8px;
}
.logo-text span {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}
.contacts {
    font-size: 18px;
    line-height: 100%;
    text-align: right;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    grid-gap: 37px 67px;
    margin-bottom: 49px;
}
main p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    line-height: 100%;
}
.tours-img-wrapper {
    display: flex;
    width: 300px;
    height: 220px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F26522;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .tours-img-wrapper img {
    width: 299px;
    height: 219px;
    border: 1px solid;
    border-image: linear-gradient(90deg, black, white);
  }
  .tours-img-wrapper:hover .overlay {
    height: 55px;
  }
  .overlay-text {
    white-space: nowrap; 
    color: white;
    overflow: hidden;
  }
.tour-price {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    left: 16px;
    bottom: 12px;
}
.tour-price span {
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    bottom: 26px;
}
.tour-view-details {
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    bottom: 12px;
    right: 37px;
}
.tour-view-details::after {
    content: url('../img/arrow.svg');
    padding-left: 16px;
}
footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    line-height: 100%;
    padding-bottom: 15px;
}