body {
    font-family: roboto, sans-serif;    
}
header, aside, main, footer {
    width: 1480px;
}
.header-title {
    font-size: 80px;
    line-height: 94px;
    margin: 63px 100px 40px 100px;
}
.header-colored-part {
    color: #4BCAFF;
}
.header-navigation {
    display:flex;
    justify-content:center;
    font-size: 24px;
    line-height: 28px;
    color: white;
    background-color: #35444F;
    margin: 0 100px 49px;
    width: 1280px;
}
.vertical-line {
    border-left: solid white 1px;
}
.header-navigation-li {
    padding: 24px 40px 18px;      
}
.header-navigation li:hover {
    background-color: 
    #222F3A;
}
.aside-navigation {
    border: solid 1px rgba(0, 0, 0, 1);
    width: 344px;
    margin-left: 100px;
    font-size: 27px;
    line-height: 27px;  
    color: #485863;
    float: left;
}
.aside-navigation li {
    padding-left: 44px;
    height: 3em;
    padding-top: 1em;
}
.aside-navigation li:hover {
    background-color: #DBDBDB;
    color:#000000;
    padding-left: 80px;
    font-family: MyriadPro, roboto, sans-serif;
}
.main-logo {
    width: 885px;
    height: 529px;
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: 37px;
}
.main-logo img {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    transition: transform 3s;
}
.main-logo img:hover {
    transform: scale(1.1);
}
.main-text {
    width: 885px;
    margin-right: 100px;
    text-align:justify;
    margin-left: auto;
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(44, 44, 44, 1);
}
.footer-navigation {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    font-size: 28px;
    line-height: 28px;
    background-color: rgba(99, 105, 110, 0.48);
    padding: 20px 40px;
    margin-left: 100px;  
    color: rgba(12, 25, 39, 1);
    margin-bottom: 30px;
    margin-top: 54px;
}
.copyright {
    padding-left: 100px;
}
.footer-navigation-li:hover {
    color: rgba(49, 129, 166, 1);
    text-decoration: underline;
    text-underline-offset: 13px;
    font-family: MyriadPro, roboto, sans-serif;
}
