.image-to-show {
    width: 400px;
    height: 400px;
    display: block;
    opacity: 1;
  }

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.image-hidden {
    display: none;
}

.button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px;
    margin: 10px;
}
